---
import Placeholder from '../components/Placeholder.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Browser Extension Builder</title>
  </head>
  <body>
    <Placeholder />
  </body>
</html>
